* { box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: $lightestGray;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
}

body {
  min-width: 320px;
}

.inner {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 66rem;
  width: 100%;
}

.flex {
  display: flex;
}

h1, h2, h3 {
  font-family: 'Zilla', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

a {
  color: $primary;
}

@include media('>=md') {
  html {
    font-size: 17px;
  }
}

@include media('>=lg') {
  html {
    font-size: 18px;
  }
}
